

<div id="wj-t" class="fr bg-d"><h2>Plan Hub</h2><a (click)="addEvent()"><mat-icon>add</mat-icon></a></div>
<div class="wj-b">
	<div class="fr"><h3>Plans</h3></div>
	<hr>
	<ul class="wj">
		
		<li *ngFor="let event of events" [class.selected]="event.id === selectedEventId">
			
			<div style="width: 100%">
				<a [routerLink]="['/plan', event.id]" routerLinkActive="active">
					<div>{{event.id}}</div><div>{{event.name}}</div>
				</a>
			</div>
			
			<div><button mat-button (click)="updateEvent()"><mat-icon>edit</mat-icon></button></div>
			<div><button mat-button (click)="rmEvent(event.id)"><mat-icon>delete</mat-icon></button></div>

		</li>
	</ul>
	<hr>
	<div>
		
		<router-outlet></router-outlet>
	
	</div>
</div>
