

<td cdkDropList id="allocated" [cdkDropListData]="plan.schedule.aHs[event]" (cdkDropListDropped)="plan.dropHost($event, event)"
		[class]="plan.summary[event]['overAllocatedSeats']>=0? 'plan-list gutter assigned full': 'plan-list gutter assigned not-full'"
>
	<div><i>Allocated</i></div>
	<div *ngFor="let aH of plan.schedule.aHs[event]">
		<mat-card cdkDrag class="fr" id="{{aH['hostKey']}}" [cdkDragData]="aH">
			<mat-icon class="menu">open_with</mat-icon> {{aH['hostKey']}}
		</mat-card>
	</div>
</td>

