
<td class="fc median">
	<div class="bg c"><strong>Guests</strong></div>
	<!-- div>RSVPs received: <strong><i>{{plan.summary[event]['rsvps']}}</i></strong></div -->
	<div class="bg c"><strong>Seats</strong></div>
	<div>
		<div> Total Available:	<strong><i>{{plan.summary[event]['seats']							}}</i></strong></div>
		<div> Unallocated:			<strong><i>{{plan.summary[event]['unAllocatedSeatCnt']}}</i></strong></div>
		<div> Allocated:				<strong><i>{{plan.summary[event]['allocatedSeatCnt']	}}</i></strong></div>
	</div>
	<div class="bg c"><strong>Allocation Over/Under</strong></div>
	<div [class]="plan.summary[event]['overAllocatedSeats'] >= 0?'not-full':'full'">
		<div> RSVPs: <strong><i>{{
			plan.summary[event]['overAllocatedSeats']>0? '+'+plan.summary[event]['overAllocatedSeats']:
				plan.summary[event]['overAllocatedSeats']<0? plan.summary[event]['overAllocatedSeats']: '---'
		}}</i></strong></div>
	</div>
</td>
