
.peep
	color:				lime
	float:				right
.peep-container
	&.cdk-drop-list
		background-color:	gainsboro
		min-height:			12em
mat-icon.unassigned-guest
	color:				white
	float:				right
.polyBase
	&.cdk-drop-list-receiving
		justify-content:	unset
.poly-2
	align-items:		center
	clip-path:			circle(30%)
.poly-content-2
	margin:				0 10%
	padding-top:		24%
.poly-6
	align-items:		flex-end
	clip-path:			polygon(50% 0%,5% 90%,95% 90%)
.poly-content-6
	margin:				0 31%
	padding-top:		31%
.poly-8
	clip-path:			polygon(50% 0%,95% 50%,50% 100%,5% 50%)
.poly-content-8
	margin:				0 23%
	padding-top:		28%
.poly-10
	clip-path:			polygon(50% 0%,95% 40%,75% 90%,25% 90%,5% 40%)
.poly-content-10
	margin:				0 10%
	padding-top:		30%
.poly-12
	clip-path:			polygon(50% 0%,95% 25%,95% 75%,50% 100%,5% 75%,5% 25%)
.poly-content-12
	margin:				0 10%
	padding-top:		24%
