
<div class="f bg-d"><h2>Plan Hub</h2></div>
<div class="wj-b">
	<div style="margin-top: 1em;" class="fr">
		<h3>Plans</h3><button mat-button title='Add a plan' (click)="addPlan()"><mat-icon>add</mat-icon></button></div>
	<hr>
	<ul class="fc wj">

		<li		*ngFor="let p of plan.plans" [class.selected]="p.id === planId">
		
			<a style="width: 100%;" [routerLink]="['/plan', 's', p.id]"	routerLinkActive="active">
				<div class="badge bg-m f c">{{p.id}}</div>
				<div style="font-family: monospace; font-size: 16px;">{{p.name}}</div>	<!-- Todo: Update labels to use label widgets in lieu of comma-delimitation -->
			</a>
			<button mat-button (click)="editPlan(p.id)"				title="Manage/Update this plan's versions."					><mat-icon>edit</mat-icon></button>
			<button mat-button (click)="schedLatest(p.id)"	title="Open new 'latest' schedule" [disabled]="true"><mat-icon>schedule</mat-icon></button>
			<button mat-button (click)="rmPlan(p.id)"			title="Remove plan and all its versions/schedules."	><mat-icon>delete</mat-icon></button>
		
		</li>
	</ul>
	<div>
		
		<router-outlet></router-outlet>
	
	</div>
</div>
